<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ path('property.show',{id: property.id, slug: property.slug}) }}">
        {{ property.title }}
      </a>
    </h5>
    <p class="card-text">{{ property.surface }} m2 {{ property.city }} ({{ property.zipcode }})</p>
    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formatedPrice }} CHF</div>
  </div>
</div>
